/* for phones  402x538 */

/*   -------------------------------------------------------------------- */

/* ---body- */

/* -------------------------------------------------------------------- */

/*   Small phones from 0 to 480px  */

/*   -------------------------------------------------------------------- */

/* ---header- */

/* -------------------------------------------------------------------- */

header.mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.geometry1 {
  width: 50%;
  height: 50%;
}

header.mobile nav {
  margin-top: 10%;
  margin-right: 7%;
}

.headline {
  display: flex;
  flex-direction: column;
}

/* ------------------------------------------- */

/* ------------------headlines-------------- */

/* ----------------------------------------- */

/* prettier-ignore */

h1 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 60px;
  align-self: start;
  line-height: 100%;
  margin: 50px;
  font-style: normal;
  font-weight: normal;
}

/* prettier-ignore */

h2 {
  font-family: 'Playfair Display', sans-serif;
  margin-left: 5%;
  font-size: 50px;
}

/* prettier-ignore */
h3 {
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 20px;
  margin-left: -6px;
}

/* --------------------------------- */

.headline p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
  margin: 50px;
}

.second-buttons a {
  text-decoration: none;
}

/* prettier-ignore */

.second-buttons button {
  margin-top: 10px;
  margin-right: 53px;
  width: 260px;
  padding: 7px;
  display: flex;
  justify-content: space-evenly;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #1a2236;
}

.first-buttons button {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 4px;
}

.headline button {
  width: 80%;
  height: 81px;
  color: white;
  font-family: Poppins, sans-serif;
  background-color: #1a2236;
  transition: solid 0s;
  margin: auto;
  border-color: transparent;
}

.second-buttons button:hover,
.second-buttons button:active {
  background-color: #1a2236;
  color: #fff;
}

.headline button:hover,
.headline button:active {
  background-color: rgb(255, 255, 255);
  color: #1a2236;
  border-color: #1a2236;
}

/*   -------------------------------------------------------------------- */

/* ---Works- */

/* -------------------------------------------------------------------- */

.Works {
  margin-top: 20px;
  z-index: 2;
}

/*   -------------------------------------------------------------------- */

/* ---first- */

/* -------------------------------------------------------------------- */

.container {
  display: -ms-grid;
  display: grid;
  margin-top: 20px;
  width: 100%;
}

.first {
  display: flex;
  flex-direction: column;
  justify-items: start;
  margin-left: 0;
  margin-right: 0;
  justify-content: left;
  background-image: url(img/Rectangle.jpg);
  background-position: bottom;
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

.geometry {
  width: 100%;
}

.back {
  width: 100%;
}

.buttons {
  display: flex;
  list-style: none;
  box-sizing: border-box;
  justify-content: space-between;
}

.btn {
  background-color: #98dede;
  border-color: transparent;
  width: auto;
}

.Ruby {
  flex: 50%;
}

.HTMLCSS {
  flex: 50%;
}

.Js {
  flex: 50%;
}

/* prettier-ignore */
.btn-See {
  justify-self: center;
  background-color: #1a2236;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  width: 210px;
  height: 50px;
  border-color: white;
  margin-bottom: 10%;
  margin-left: -31px;
}

.btn-See span {
  margin-right: 4%;
}

.btn-See:hover,
.btn-See:active {
  background-color: rgb(255, 255, 255);
  color: #1a2236;
  border-color: transparent;
}

/*   -------------------------------------------------------------------- */

/* ---second- */

/* -------------------------------------------------------------------- */

.second {
  display: flex;
  flex-direction: column;
  justify-items: start;
  margin-left: 0;
  margin-right: 0;
  justify-content: left;
  background-image: url(img/Rectangle.jpg);
  background-position: bottom;
  background-size: 100% 60%;
  background-repeat: no-repeat;
}

/*   -------------------------------------------------------------------- */

/* ---third- */

/* -------------------------------------------------------------------- */

.third {
  display: flex;
  flex-direction: column;
  justify-items: start;
  margin-left: 0;
  margin-right: 0;
  justify-content: left;
  background-image: url(img/Rectangle.jpg);
  background-position: bottom;
  background-size: 100% 60%;
  background-repeat: no-repeat;
}

/*   -------------------------------------------------------------------- */

/* ---fourth- */

/* -------------------------------------------------------------------- */

.fourth {
  display: flex;
  flex-direction: column;
  justify-items: start;
  margin-left: 0;
  margin-right: 0;
  justify-content: left;
  background-image: url(img/Rectangle.jpg);
  background-position: bottom;
  background-size: 100% 60%;
  background-repeat: no-repeat;
}

/*   -------------------------------------------------------------------- */

/* ---fifth- */

/* -------------------------------------------------------------------- */

.fifth {
  display: flex;
  flex-direction: column;
  justify-items: start;
  margin-left: 0;
  margin-right: 0;
  justify-content: left;
  background-image: url(img/Rectangle.jpg);
  background-position: bottom;
  background-size: 100% 60%;
  background-repeat: no-repeat;
}

/*   -------------------------------------------------------------------- */

/* ---six- */

/* -------------------------------------------------------------------- */

.six {
  display: flex;
  flex-direction: column;
  justify-items: start;
  margin-left: 0;
  margin-right: 0;
  justify-content: left;
  background-image: url(img/Rectangle.jpg);
  background-position: bottom;
  background-size: 100% 60%;
  background-repeat: no-repeat;
}

/*   -------------------------------------------------------------------- */

/* ---About my self- */

/* -------------------------------------------------------------------- */

.About-myself {
  display: flex;
  flex-direction: column;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* prettier-ignore */
.get-my-cv {
  width: 80%;
  height: 81px;
  color: white;
  font-family: 'Poppins', sans-serif;
  background-color: #1a2236;
  transition: solid 1s;
  margin: auto;
  border-color: transparent;
}

.get-my-cv:hover,
.get-my-cv:active {
  background-color: rgb(255, 118, 118);
  color: #1a2236;
  border-color: transparent;
}

/* prettier-ignore */
.first-about p {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  text-align: left;
  margin-bottom: 30px;
  margin-left: 40px;
  margin-right: 30px;
  margin-top: 0%;
}

.first-about h2 {
  margin-left: 10%;
}

/* prettier-ignore */
h4 {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  position: relative;
  top: 22px;
}

/*   -------------------------------------------------------------------- */

/* ---second-about- */

/* -------------------------------------------------------------------- */

/* prettier-ignore */
.second-about {
  background-image:
    url(img/first.jpg),
    linear-gradient(rgba(4, 71, 255, 0.514), rgba(95, 151, 224, 0.425));
  background-size: 500px 100%;
  margin: 3%;
  width: 300px;
}

.second-about .effect_ {
  height: 100px;
  position: relative;
  color: #547da7;
  margin: 5px;
  bottom: 30px;
  top: 6px;
  left: 193px;
}

/*   -------------------------------------------------------------------- */

/* ---third-about- */

/* -------------------------------------------------------------------- */

/* prettier-ignore */
.third-about {
  background-image:
    url(img/second.jpg),
    linear-gradient(rgba(179, 165, 174, 0.267), rgba(218, 66, 155, 0.425));
  margin: 3%;
  background-size: 500px 100%;
  height: 400px;
  width: 300px;
}

/*   -------------------------------------------------------------------- */

/* ---fourth-about- */

/* -------------------------------------------------------------------- */

/* prettier-ignore */
.fourth-about {
  background-image:
    url(img/third.png),
    linear-gradient(rgba(255, 170, 13, 0.541), rgba(255, 251, 0, 0.425));
  margin: 3%;
  height: 400px;
  width: 300px;
}

/* prettier-ignore */
.About-myself ul {
  color: #fff;
  position: relative;
  height: 200px;
  font-family: 'Poppins', sans-serif;
  left: 93px;
  top: 63px;
}

.effect.a {
  position: relative;
  left: 204px;
  top: 62px;
}

.effect.b {
  position: relative;
  left: 196px;
  bottom: -53px;
}

/*   -------------------------------------------------------------------- */

/* ---contact form - */

/* -------------------------------------------------------------------- */

.get_started {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.get_started .geometry1 {
  width: 40%;
  height: 50%;
  margin-top: 20px;
}

.form ul {
  list-style: none;
}

#mail {
  background-image: url(img/Your_email.png);
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 10px;
  border-radius: 5px;
  height: 50px;
  width: 285px;
  padding-left: 14px;
  padding-top: 14px;
  margin-top: 10px;
  border-width: 0.1px;
  border-color: #bbbabd;
}

#name {
  background-image: url(img/Your_name.png);
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 10px;
  border-radius: 5px;
  border-width: 0.1px;
  height: 50px;
  width: 285px;
  padding-left: 14px;
  padding-top: 14px;
  border-color: #bbbabd;
}

#Message {
  background-image: url(img/Enter_your_message_here....png);
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 10px;
  border-radius: 4px;
  height: 80px;
  width: 285px;
  border-width: 0.1px;
  margin-top: 10px;
  padding-left: 11px;
  padding-top: 24px;
  border-color: #e2e1e4;
  justify-self: center;
  transition: solid 0.5s;
}

.headline_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline_2 h2 {
  text-align: left;
  margin-left: -3.5rem;
  margin-bottom: 12px;
}

/* prettier-ignore */
.headline_2 p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
  margin-left: 40px;
  text-align: left;
  margin-right: 50px;
  margin-bottom: 10px;
}

/* prettier-ignore */
.form-button {
  height: 50px;
  width: 285px;
  color: white;
  font-family: 'Poppins', sans-serif;
  background-color: #1a2236;
  transition: solid 0s;
  margin: auto;
  border-color: transparent;
  margin-bottom: 20px;
  margin-left: 40px;
}

.form-button:hover,
.form-button:active {
  background-color: rgb(255, 255, 255);
  color: #1a2236;
  border-color: #1a2236;
}

.focusvisible {
  margin-right: 40px;
}

.links {
  background-image: url(img/Rectangle.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
  margin: 0;
}

.get_my_resume {
  background-color: #1a2236;
  border-color: transparent;
  position: relative;
  left: 25px;
  top: 20%;
}

.links ul {
  display: flex;
  position: relative;
  top: 20%;
  justify-content: space-between;
  right: 3%;
}

.links a {
  margin: 1%;
  margin-right: 3%;
  width: 12%;
}

footer {
  margin-right: 0;
}

.menu-list a:link,
.menu-list a:visited {
  text-decoration: none;
  color: #1a2236;
}

.Desktop {
  display: none;
}

.mobile {
  display: block;
}

.Desktop-head {
  display: flex;
  list-style: none;
  justify-content: center;
}

.Desktop-head a:link,
.Desktop-head a:visited {
  text-decoration: none;
  color: #1a2236;
  transition: 0.1s;
}

.Desktop-head a:hover,
.Desktop-head a:active {
  border-bottom: 2px solid #1a2236;
}

.Desktop-head a::after {
  display: none;
  height: 2px;
  background-color: #1a2236;
  content: " ";
  width: 50px;
  margin: 0 auto;
}

.Desktop-head li {
  margin-right: 5%;
}

.geom {
  margin-top: 4%;
  float: right;
}

.dot {
  width: 11%;
  position: absolute;
  top: 49rem;
  left: 36.5%;
}

.dot1 {
  width: 11%;
  height: 30%;
  margin-right: 1%;
  margin-top: 0.5%;
}

.links li {
  list-style: none;
}

.buttons li {
  margin-left: -141px;
  margin-right: -135px;
}

/*   -------------------------------------------------------------------- */

/* ---menu part - */

/* -------------------------------------------------------------------- */

.menu {
  z-index: 10;
  display: flex;
  background-color: #fff;
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.menu-mask {
  position: relative;
  top: 47%;
  width: 100%;
  left: -2px;
}

.second-menu-dot {
  position: relative;
  top: 19vmax;
  left: 6rem;
  width: 50px;
  align-self: flex-start;
}

.cancel-button {
  position: relative;
  left: 133px;
  top: -84px;
  width: 20px;
  align-self: flex-end;
}

.first-menu-dot {
  position: relative;
  left: 66px;
  top: 65px;
  width: 4rem;
}

.geomtry-1 {
  width: 11rem;
  align-self: flex-start;
}

/* prettier-ignore */
.menu-list {
  list-style: none;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 108px;
  right: 15px;
  font-size: 30px;
}

.menu-list li {
  margin-top: 20px;
}

.hidden {
  display: none;
}

.menu-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-self: center;
  position: relative;
  width: 100%;
  height: 80%;
}

.cancel {
  align-self: flex-end;
  margin-right: 1rem;
  position: relative;
  bottom: 0;
  right: 9rem;
}

/*   -------------------------------------------------------------------- */

/* ---popup-1 menu - */

/* -------------------------------------------------------------------- */

.popup-1 {
  background-color: white;
  z-index: 10;
  position: absolute;
  top: -2px;
}

/* prettier-ignore */
.first-buttons {
  display: flex;
  font-size: 14px;
  list-style: none;
  font-family: 'Poppins', sans-serif;
  padding-top: 0;
  padding-right: 45px;
  margin-bottom: -20px;
}

.first-buttons li {
  margin-right: 10px;
}

.popup-conatiner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cancel-1 {
  align-self: flex-end;
  margin-top: 20px;
  margin-right: 20px;
}

/* prettier-ignore */
h5 {
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  font-size: 20px;
  color: #1a2236;
  top: 1px;
  left: -22px;
}

.img-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: -3px;
  margin-right: 38px;
}

.img-list img {
  width: 72px;
  margin-left: -2px;
}

.vector-1 {
  z-index: 15;
  position: relative;
  top: 119px;
  width: 12px;
  right: 127px;
}

.vector-2 {
  z-index: 15;
  position: relative;
  top: 100px;
  width: 12px;
  left: 131px;
}

/* prettier-ignore */
.popup-1 p {
  margin: 30px;
  font-family: 'Poppins', sans-serif;
}

.second-buttons {
  list-style: none;
  display: flex;
  flex-direction: column;
}

/*   -------------------------------------------------------------------- */

/* ---popup-2 menu - */

/* -------------------------------------------------------------------- */

.popup-2 {
  background-color: white;
  z-index: 10;
  position: absolute;
  top: -2px;
}

/* prettier-ignore */
.popup-2 p {
  margin: 30px;
  font-family: 'Poppins', sans-serif;
}

.cancel-2 {
  align-self: flex-end;
  margin-top: 20px;
  margin-right: 20px;
}

/*   -------------------------------------------------------------------- */

/* ---popup-3 menu - */

/* -------------------------------------------------------------------- */

.popup-3 {
  background-color: white;
  z-index: 10;
  position: absolute;
  top: -2px;
}

/* prettier-ignore */
.popup-3 p {
  margin: 30px;
  font-family: 'Poppins', sans-serif;
}

.cancel-3 {
  align-self: flex-end;
  margin-top: 20px;
  margin-right: 20px;
}

/*   -------------------------------------------------------------------- */

/* ---popup-4 menu - */

/* -------------------------------------------------------------------- */

.popup-4 {
  background-color: white;
  z-index: 10;
  position: absolute;
  top: -2px;
}

/* prettier-ignore */
.popup-4 p {
  margin: 30px;
  font-family: 'Poppins', sans-serif;
}

.cancel-4 {
  align-self: flex-end;
  margin-top: 20px;
  margin-right: 20px;
}

/*   -------------------------------------------------------------------- */

/* ---popup-5 menu - */

/* -------------------------------------------------------------------- */

.popup-5 {
  background-color: white;
  z-index: 10;
  position: absolute;
  top: -2px;
}

/* prettier-ignore */
.popup-5 p {
  margin: 30px;
  font-family: 'Poppins', sans-serif;
}

.cancel-5 {
  align-self: flex-end;
  margin-top: 20px;
  margin-right: 20px;
}

/*   -------------------------------------------------------------------- */

/* ---popup-6 menu - */

/* -------------------------------------------------------------------- */

.popup-6 {
  background-color: white;
  z-index: 10;
  position: absolute;
  top: -2px;
}

/* prettier-ignore */
.popup-6 p {
  margin: 30px;
  font-family: 'Poppins', sans-serif;
}

.cancel-6 {
  align-self: flex-end;
  margin-top: 20px;
  margin-right: 20px;
}

/* prettier-ignore */
#error {
  color: red;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
}
