/* for phones  402x538 */

/*   -------------------------------------------------------------------- */

/* ---body- */

/* -------------------------------------------------------------------- */

/*   Small phones from 0 to 480px  */

/*   -------------------------------------------------------------------- */

/* ---header- */

/* -------------------------------------------------------------------- */

header.mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.geometry1 {
  width: 50%;
  height: 50%;
}

header.mobile nav {
  margin-top: 10%;
  margin-right: 7%;
}

.headline {
  display: flex;
  flex-direction: column;
}

/* ------------------------------------------- */

/* ------------------headlines-------------- */

/* ----------------------------------------- */

h1 {
  font-family: Playfair Display, sans-serif;
  font-size: 60px;
  align-self: start;
  line-height: 100%;
  margin: 50px;
  font-style: normal;
  font-weight: normal;
}

h2 {
  font-family: Playfair Display, sans-serif;
  margin-left: 5%;
  font-size: 50px;
}

h3 {
  color: white;
  font-family: Poppins, sans-serif;
  margin-left: 10px;
  text-align: center;
  font-size: 20px;
}

/* --------------------------------- */

.headline p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
  margin: 50px;
}

.headline button {
  width: 80%;
  height: 81px;
  color: white;
  font-family: Poppins, sans-serif;
  background-color: #1a2236;
  transition: solid 0s;
  margin: auto;
  border-color: transparent;
}

.headline button:hover,
.headline button:active {
  background-color: rgb(255, 255, 255);
  color: #1a2236;
  border-color: #1a2236;
}

/*   -------------------------------------------------------------------- */

/* ---Works- */

/* -------------------------------------------------------------------- */

.Works {
  margin-top: 20px;
}

/*   -------------------------------------------------------------------- */

/* ---first- */

/* -------------------------------------------------------------------- */

.container {
  display: grid;
  margin-top: 20px;
  width: 100%;
}

.first {
  display: flex;
  flex-direction: column;
  justify-items: start;
  margin-left: 0;
  margin-right: 0;
  justify-content: left;
  background-image: url(img/Rectangle.jpg);
  background-position: bottom;
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

.geometry {
  width: 100%;
}

.back {
  width: 100%;
}

.buttons {
  display: flex;
  list-style: none;
  box-sizing: border-box;
  justify-content: space-evenly;
}

.btn {
  background-color: #98dede;
  border-color: transparent;
  width: auto;
}

.Ruby {
  flex: 50%;
}

.HTMLCSS {
  flex: 50%;
}

.Js {
  flex: 50%;
}

.btn-See {
  justify-self: center;
  background-color: #1a2236;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: Poppins, sans-serif;
  width: 210px;
  height: 50px;
  border-color: white;
  margin-bottom: 10%;
  margin-left: 44px;
}

.btn-See span {
  margin-right: 4%;
}

.btn-See:hover,
.btn-See:active {
  background-color: rgb(255, 255, 255);
  color: #1a2236;
  border-color: transparent;
}

/*   -------------------------------------------------------------------- */

/* ---second- */

/* -------------------------------------------------------------------- */

.second {
  display: flex;
  flex-direction: column;
  justify-items: start;
  margin-left: 0;
  margin-right: 0;
  justify-content: left;
  background-image: url(img/Rectangle.jpg);
  background-position: bottom;
  background-size: 100% 60%;
  background-repeat: no-repeat;
}

/*   -------------------------------------------------------------------- */

/* ---third- */

/* -------------------------------------------------------------------- */

.third {
  display: flex;
  flex-direction: column;
  justify-items: start;
  margin-left: 0;
  margin-right: 0;
  justify-content: left;
  background-image: url(img/Rectangle.jpg);
  background-position: bottom;
  background-size: 100% 60%;
  background-repeat: no-repeat;
}

/*   -------------------------------------------------------------------- */

/* ---fourth- */

/* -------------------------------------------------------------------- */

.fourth {
  display: flex;
  flex-direction: column;
  justify-items: start;
  margin-left: 0;
  margin-right: 0;
  justify-content: left;
  background-image: url(img/Rectangle.jpg);
  background-position: bottom;
  background-size: 100% 60%;
  background-repeat: no-repeat;
}

/*   -------------------------------------------------------------------- */

/* ---fifth- */

/* -------------------------------------------------------------------- */

.fifth {
  display: flex;
  flex-direction: column;
  justify-items: start;
  margin-left: 0;
  margin-right: 0;
  justify-content: left;
  background-image: url(img/Rectangle.jpg);
  background-position: bottom;
  background-size: 100% 60%;
  background-repeat: no-repeat;
}

/*   -------------------------------------------------------------------- */

/* ---six- */

/* -------------------------------------------------------------------- */

.six {
  display: flex;
  flex-direction: column;
  justify-items: start;
  margin-left: 0;
  margin-right: 0;
  justify-content: left;
  background-image: url(img/Rectangle.jpg);
  background-position: bottom;
  background-size: 100% 60%;
  background-repeat: no-repeat;
}

/*   -------------------------------------------------------------------- */

/* ---About my self- */

/* -------------------------------------------------------------------- */

.About-myself {
  display: flex;
  flex-direction: column;
}

.about-me-container {
  display: flex;
  flex-direction: column;
}

.first-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.get-my-cv {
  width: 80%;
  height: 81px;
  color: white;
  font-family: Poppins, sans-serif;
  background-color: #1a2236;
  transition: solid 1s;
  margin: auto;
  border-color: transparent;
}

.get-my-cv:hover,
.get-my-cv:active {
  background-color: rgb(255, 118, 118);
  color: #1a2236;
  border-color: transparent;
}

.first-about p {
  font-size: 20px;
  font-family: Poppins, sans-serif;
  text-align: left;
  margin-bottom: 30px;
  margin-left: 40px;
  margin-right: 30px;
  margin-top: 0%;
}

.first-about h2 {
  margin-left: 10%;
}

h4 {
  color: white;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  position: relative;
  left: 32%;
  top: 110px;
}

/*   -------------------------------------------------------------------- */

/* ---second-about- */

/* -------------------------------------------------------------------- */

.second-about {
  background-image: url(img/first.jpg);
  background-size: 500px 100%;
  margin: 3%;
}

.second-about p {
  font-size: 200px;
  height: 185px;
  text-align: right;
  color: #547da7;
  margin: 5px;
}

/*   -------------------------------------------------------------------- */

/* ---third-about- */

/* -------------------------------------------------------------------- */

.third-about {
  background-image: url(img/second.jpg);
  margin: 3%;
  background-size: 500px 100%;
  height: 400px;
}

/*   -------------------------------------------------------------------- */

/* ---fourth-about- */

/* -------------------------------------------------------------------- */

.fourth-about {
  background-image: url(img/third.png);
  margin: 3%;
  height: 400px;
}

.About-myself ul {
  color: white;
  position: relative;
  height: 200px;
  font-family: Poppins, sans-serif;
  left: 100px;
  top: 100px;
}

.effect.a {
  position: relative;
  left: 73%;
  top: 3%;
}

.effect.b {
  position: relative;
  left: 69%;
  bottom: 2%;
}

/*   -------------------------------------------------------------------- */

/* ---contact form - */

/* -------------------------------------------------------------------- */

.get_started {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.get_started .geometry1 {
  width: 40%;
  height: 50%;
  margin-top: 20px;
}

.form ul {
  list-style: none;
}

#mail {
  background-image: url(img/Your_email.png);
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 10px;
  border-radius: 5px;
  height: 50px;
  width: 285px;
  padding-left: 14px;
  padding-top: 14px;
  margin-top: 10px;
  border-width: 0.1px;
  border-color: #bbbabd;
}

#name {
  background-image: url(img/Your_name.png);
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 10px;
  border-radius: 5px;
  border-width: 0.1px;
  height: 50px;
  width: 285px;
  padding-left: 14px;
  padding-top: 14px;
  border-color: #bbbabd;
}

#Message {
  background-image: url(img/Enter_your_message_here....png);
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 10px;
  border-radius: 4px;
  height: 80px;
  width: 285px;
  border-width: 0.1px;
  margin-top: 10px;
  padding-left: 11px;
  padding-top: 24px;
  border-color: #e2e1e4;
  justify-self: center;
  transition: solid 0.5s;
}

.headline_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline_2 h2 {
  text-align: left;
  margin-left: -3.5rem;
  margin-bottom: 12px;
}

.headline_2 p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
  margin-left: 40px;
  text-align: left;
  margin-right: 50px;
  margin-bottom: 10px;
}

.form-button {
  height: 50px;
  width: 285px;
  color: white;
  font-family: Poppins, sans-serif;
  background-color: #1a2236;
  transition: solid 0s;
  margin: auto;
  border-color: transparent;
  margin-bottom: 20px;
  margin-left: 40px;
}

.form-button:hover,
.form-button:active {
  background-color: rgb(255, 255, 255);
  color: #1a2236;
  border-color: #1a2236;
}

.focusvisible {
  margin-right: 40px;
}

.links {
  background-image: url(img/Rectangle.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
  margin: 0;
}

.get_my_resume {
  background-color: #1a2236;
  border-color: transparent;
  position: relative;
  left: 25px;
  top: 20%;
}

.links ul {
  display: flex;
  position: relative;
  top: 20%;
  justify-content: space-between;
  right: 3%;
}

.links a {
  margin: 1%;
  margin-right: 3%;
  width: 12%;
}

footer {
  margin-right: 0;
}

.Desktop {
  display: none;
}

.mobile {
  display: block;
}

.Desktop-head {
  display: flex;
  list-style: none;
  justify-content: center;
}

.Desktop-head a:link,
.Desktop-head a:visited {
  text-decoration: none;
  color: #1a2236;
  transition: 0.1s;
}

.Desktop-head a:hover,
.Desktop-head a:active {
  border-bottom: 2px solid #1a2236;
}

.Desktop-head li {
  margin-right: 5%;
}

.geom {
  margin-top: 1%;
  float: right;
}

.dot {
  width: 11%;
  position: absolute;
  top: 128%;
  left: 36.5%;
}

.dot1 {
  width: 11%;
  height: 30%;
  margin-right: 1%;
  margin-top: 0.5%;
}

.links li {
  list-style: none;
}
